<a class="list-group-item list-group-item-action list-group-item-light p-3" href="/">
     Agregar Producto
</a>

<a class="list-group-item list-group-item-action list-group-item-light p-3" href="/productos">
     Lista de Productos
</a>